!!! 5

%html{:lang => "en"}

    %head
        %meta{:charset => "utf-8"}
        %title Duolab
        %link{:rel => "stylesheet", :href => "style.css"}

    %body
        .page
            .headline
                %h1 DUO
                %h1 LAB
                %p 2001–2009
            .links
                %a.icon.twitter(href='http://twitter.com/inrgbwetrust' title='inrgbwetrust on Twitter')
                %a.icon.instagram(href='http://instagram.com/inrgbwetrust' title='inrgbwetrust on Instagram')
                %a.icon.github(href='http://github.com/andrewcollins' title='andrewcollins on Github')
                %a.icon.flickr(href='http://flickr.com/photos/andrewcollins/' title='andrewcollins on Flickr')
                %a.icon.email(href='mailto:hello@inrgbwetrust.com' title='Email')
