@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import "reset";
@import "icon-font";
@import "bourbon";

html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 570px;
    width: 100%;
    font: normal 1em/1 'Open Sans','helvetica neue',helvetica,arial,sans-serif;
}
.page {
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: #fffbfa;
    @media (max-width: 720px) {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
.headline {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-flex: 3;
    flex: 3;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    h1 {
        margin: 0;
        padding: 0;
        font-weight: 800;
        font-size: 6em;
        line-height: .9;
        color: #222;
    }
    p {
        margin: 24px 0 0 0;
        font-size: 1.6em;
        color: #8A7B8C;
    }
}
.links {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-flex: 1;
    flex: 1;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
    @media (max-width: 720px) {
        -webkit-flex: 2;
        flex: 2;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
}
.icon {
    color: #fff;
    height: 80px;
    width: 80px;
    min-height: 80px;
    min-width: 80px;
    margin: 16px 8px;
    border-radius: 40px;
    background-color: #F5A8B0;
    text-decoration: none;
    font-size: 3em;
    text-align: center;
}
.icon:before {
    margin-top: 42px;
}

// ANIMATION
a.icon {
    @include transform(rotate(0deg));
    @include transition (all 0.05s ease-in-out);
}
a.icon:hover {
    @include transform(rotate(12deg));
    @include transition (all 0.05s ease-in-out);
}

// PER-ICON COLORS
.twitter {
    background-color: #8A7B8C;
}
.instagram {
    background-color: #8A8E9E;
    }
.github {
    background-color: #98A3A6;
}
.flickr {
    background-color: #B3B2AA;
}
.email {
    background-color: #D9BAAD;
}
